{
  "presets": [
    "react-native"
  ],
  "plugins": [
    ["module-resolver", {
//      "root": ["../src"],
      "alias": {
        "@unpourtous/react-native-ui": "../src/index.js"
      }
    }]
  ]
}
