{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    "transform-flow-strip-types",
    ["transform-define", {
      "__DEV__": false
    }]
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "presets": ["es2015", "react", "stage-0"]
    }
  }
}
